@{
  Layout = "_Layout";
}

@using HairSalon.Models; 
@model HairSalon.Models.Stylist;
  

<h2>@Html.DisplayFor(model => model.Name)'s Clients</h2>
<hr />


<ul>
@if (@Model.Clients.Count == 0)
{
  <p>nothing found</p>
}

@foreach (Client client in @Model.Clients)
{
  <li>@Html.ActionLink(client.Name, "Details", "Clients", new { id = client.StylistId })</li>
}
</ul>

<p>@Html.ActionLink("Add a client to this stylist", "Create", "Clients")</p>
<p>@Html.ActionLink("Remove this stylist from stylists", "Delete", new { id = Model.StylistId})</p>
<p>@Html.ActionLink("Stylists home", "Index")</p>
<p>@Html.ActionLink("Home Page", "Index", "Home")</p>