@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Client>;

<h1>List of all Clients</h1>
<h2>and | Stylist</h2>

@if (@Model.Count==0)
{
  <h3>This stylist does not have any clients yet!</h3>
}

@foreach (Client client in Model)
{
  <li>@Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId }) | @client.Stylist.Name</li>
}

<p>@Html.ActionLink("Add new Client", "Create")</p>
<p>@Html.ActionLink("Back to stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>